import React, { useState, useEffect } from "react";

function <%= data.name.charAt(0).toUpperCase()+ data.name.slice(1); %> () {
  const [message, setMessage] = useState("hellow world");
  useEffect(() => {}, []);
  return (
  <div className="<%=  data.name.toLowerCase; %>">
    {message} <%= data.name; %>
  </div>
  );
  }

  export default <%= data.name.charAt(0).toUpperCase()+ data.name.slice(1); %>